.vscode
venv
quadson/build/CMakeCache.txt
quadson/build/CMakeFiles/
quadson/build/cmake_install.cmake
quadson/build/Makefile
quadson/build/compile_commands.json
quadson/build/Testing/
quadson/build/source/
quadson/build/CTestTestfile.cmake
*.cmake
quadson/build/build

