.vscode
CMakeFiles/
source/
Testing/
CTestTestfile.cmake
DartConfiguration.tcl
quadson/build/Makefile
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
