<!-- <?xml version="1.0" encoding="utf-8"?> -->
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="quadbot">
  <!-- <link name="dummy"></link>
  <joint name="dummy" type="fixed">
    <parent link="dummy"></parent>
    <child link="base_link"></child>
  </joint> -->
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00387120244352494 0.18652191683355 -6.56418141173892E-16"
        rpy="0 0 0" />
      <mass
        value="0.996322261989855" />
      <inertia
        ixx="0.00378711359510183"
        ixy="-8.34892270163617E-16"
        ixz="-2.92467752920497E-19"
        iyy="0.00467886630089355"
        iyz="-1.452 89130392194E-10"
        izz="0.00381803359998961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.670588235294118 0.870588235294118 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="fr_link_0">
    <inertial>
      <origin
        xyz="0.000249312673537311 0.00191000474553339 0.0925044160531216"
        rpy="0 0 0" />
      <mass
        value="0.0926222295025173" />
      <inertia
        ixx="0.000110493021443021"
        ixy="1.62568120461394E-13"
        ixz="1.77743214581187E-06"
        iyy="0.000154826458282934"
        iyz="1.2041229470706E-21"
        izz="5.17548231086632E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.670588235294118 0.870588235294118 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_jnt_0"
    type="revolute">
    <origin
      xyz="0.20229 0.19155 0.095"
      rpy="-1.5708 -0.0068295 1.5708" />
    <parent
      link="base_link" />
    <child
      link="fr_link_0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <!-- <link
    name="fr_link_1">
    <inertial>
      <origin
        xyz="0.0291578714897264 5.55111512312578E-17 0.00211960462454606"
        rpy="0 0 0" />
      <mass
        value="0.0209412067295075" />
      <inertia
        ixx="9.42722406410458E-07"
        ixy="8.45792176335471E-23"
        ixz="1.54265002106541E-07"
        iyy="1.14710057680368E-05"
        iyz="-8.9335506155727E-23"
        izz="1.22072933903446E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_jnt_1"
    type="revolute">
    <origin
      xyz="0 -0.02775 0.051896"
      rpy="1.5708 0.54739 3.1416" />
    <parent
      link="fr_link_0" />
    <child
      link="fr_link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_link_2">
    <inertial>
      <origin
        xyz="0.100976765487836 -0.000248700705894042 0.00401165043991318"
        rpy="0 0 0" />
      <mass
        value="0.0364575808655264" />
      <inertia
        ixx="9.04626156802422E-07"
        ixy="-5.66699372868361E-08"
        ixz="-1.08482391390852E-08"
        iyy="5.5858116929233E-05"
        iyz="4.43520261553087E-11"
        izz="5.64901841043986E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_2.STL" />
      </geometry>
    </collision>
  </link> -->
  <!-- <joint
    name="fr_jnt_2"
    type="revolute">
    <origin
      xyz="0.08 0 0.0015"
      rpy="0 0 1.1903" />
    <parent
      link="fr_link_1" />
    <child
      link="fr_link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_link_3">
    <inertial>
      <origin
        xyz="0.0658007969173512 0.000136237888315474 2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.0221842987960633" />
      <inertia
        ixx="5.34735340581067E-07"
        ixy="-1.46900586685684E-07"
        ixz="-4.6859781701129E-22"
        iyy="2.81354775768645E-05"
        iyz="9.26442286059391E-23"
        izz="2.85375296980227E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_3.STL" />
      </geometry>
    </collision>
  </link> -->
  <!-- <joint
    name="fr_jnt_3"
    type="revolute">
    <origin
      xyz="0.1 0 0"
      rpy="-3.1416 0 1.5798" />
    <parent
      link="fr_link_2" />
    <child
      link="fr_link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint> -->
  <!-- <link
    name="fr_link_4">
    <inertial>
      <origin
        xyz="0.0508421285102736 -6.93889390390723E-18 -0.00211960462454608"
        rpy="0 0 0" />
      <mass
        value="0.0209412067295075" />
      <inertia
        ixx="9.42722406410457E-07"
        ixy="2.23550730421284E-21"
        ixz="1.5426500210654E-07"
        iyy="1.14710057680368E-05"
        iyz="3.01093742969302E-22"
        izz="1.22072933903446E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_link_4.STL" />
      </geometry>
    </collision>
  </link> -->
  <!-- <joint
    name="fr_jnt_4"
    type="revolute">
    <origin
      xyz="0.13 0 0.0015"
      rpy="0 0 -1.4376" />
    <parent
      link="fr_link_3" />
    <child
      link="fr_link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint> -->
</robot>